 <html>

<head>
    <meta charset="UTF-8">
    <title>Eventful</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">

	  <h1>Event Search</h1>
	    <form action="/search" method="GET">
		    <label for="search">Search events:</label>
		    <input type="text" name="search" id="search" placeholder="Enter a keyword">
		    <button type="submit">Search</button>
	    </form>

        {{#if events}}
		  <h2>Search results</h2>
		  <ul>
			  {{#each events}}
				  <li><a href="/events/{{id}}">{{name}}</a></li>
			  {{/each}}
		  </ul>
	  {{else}}
		  <p>No events found</p>
	  {{/if}}

      <nav>
      <button type="submit" id="logout">Logout</button>
      </nav>
      <p>Find out what fun events are happening around you!</p>

      <p>1234!</p>

    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>


</html>

