
<h1>Event Search</h1>

<!-- Display search bar -->
<form id="search-form" action="/search" method="GET">
  <input type="text" name="search" placeholder="Search for events">
  <button type="submit">Search</button>
</form>

<!-- Display search results -->
{{#if events.length}}
  <h2>Search Results</h2>
  <div class="card-container">
    {{#each events}}
      <div class="card">
        <h3>{{name.text}}</h3>
        <p>{{description.text}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>No search results found.</p>
{{/if}}
