<h1>Event Search</h1>
<form action="/search" method="GET">
	<label for="search">Search events:</label>
	<input type="text" name="search" id="search" placeholder="Enter a keyword">
	<button type="submit">Search</button>
</form>

{{#if events}}
<h2>Search results</h2>
<ul>
	{{#each events}}
	<li><a href="/events/{{id}}">{{name}}</a></li>
	{{/each}}
</ul>
{{else}}
<p>No events found</p>
{{/if}}


</header>
<main class="container container-fluid mt-5">
	{{{ body }}}
</main>
</div>